#new{
    width: 90%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap-reverse;
    
}
#new #Ninfo{
width: 43%;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}
#new #Ninfo button{
background-color: #ff713c;
padding: 8px;
border: none;
color: white;
font-size: 17px;
border-radius: 10% /40%;
    }
#new #Ninfo div{
    width: 90%;
    height: 90%;
    background-color: white;
    
    }
#new #Npict{
    width: 57%;
    height: 400px;
    background-image: url("../Media//New.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
}
#new #Npict:hover{
 transform: scale(1.03);
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media screen and (max-width: 950px) {
    #new #Ninfo,#new #Npict{
        width: 100%;
        height: 350px;
        }
      
 }